<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <h1>WebSocket Test</h1>
</head>
<body>
    <script>
        var websocket = null;
        if('WebSocket' in window){
            websocket = new WebSocket("ws://localhost:8888/webSocket")
        }else{
            alert('浏览器不支持')
        }
        websocket.onopen = function(event){
            console.log('建立链接')
        }
        websocket.onclose = function(event){
            console.log('关闭链接')
        }
        websocket.onmessage = function(event){
            console.log('收到消息'+event.data)
        }
        websocket.onerror=function(event){
            alert("链接异常")
        }
        window.onbeforeunload = function(){
            websocket.close();
        }
    </script>
</body>
</html>