<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- insert,select,selectByPK,count, delete, update,updateAll -->
<mapper namespace="com.order.mapper.ProductCategoryMapper">
	
	<!-- 商品类目 -->
	<select id="selectPageVo" parameterType="map" resultType="com.order.entity.ProductCategoryEntity">
		<![CDATA[
			SELECT
				*
			FROM
				product_category
			where
				category_id=#{categoryId}
		]]>
	</select>
</mapper> 
